@use 'variables' as v;
@use 'sass:color';

@mixin mobile {
    @media (max-width: v.$tablet) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: v.$desktop) {
        @content;
    }
}

@mixin scroll {
    justify-content: flex-start; 
    overflow-y: auto;           
    padding-top: 40px;          
    padding-bottom: 40px;      
}

@mixin overlay-end{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), var(--bg-image);
}

