//Media Queries 
$tablet: 768px;
$desktop: 1200px;

//FONTS

$fuenteOrbitron: "Orbitron", sans-serif; //principal
$fuenteInter: "Inter", sans-serif; //secundaria
$fuenteBarlowCondensed: "Barlow Condensed", sans-serif; //terciaria

//COLORS

//title
$white: #FFFFFF;
$Purple: #B18EFF;

//north
$NeonCian: #5BE3F4;
$NeonCianLight: #A6F1FA;
$BlueTraslucid: #071C24;

$FondoOscuroSemiTransparente: rgba(11, 12, 16, 0.7);

//south
$NeonGold: #FFD04B;
$NeonGoldLight: #FFE699;
$BrownTraslucid: #1D1705;

